<div class="jumbotron">
	<h1>Welcome to the Anti-Social Network</h1>
	<h3 class="text-center">You may rant about anyone or anything you please.</h3>
	<div class="text-center">
		<a href="/login" class="btn btn-danger" ng-if="!main.loggedIn">Login</a>
		<a href="/register" class="btn btn-danger" ng-if="!main.loggedIn">Register</a>
	</div>
</div>

<div class="row col-sm-6 col-sm-offset-3 login-form" ng-if="!main.loggedIn">
	<h1>Login</h1>
	<form ng-submit="login.doLogin()">
		<!-- USERNAME INPUT -->
		<div class="form-group">
			<input type="text" class="form-control" ng-model="login.loginData.username" placeholder="Username">
		</div>
		<!-- PASSWORD INPUT -->
		<div class="form-group">
			<input type="password" class="form-control" ng-model="login.loginData.password" placeholder="Password">
		</div>
		<div ng-if="login.error" class="alert alert-danger">
			{{ login.error }}
		</div>
		<!-- LOGIN BUTTON -->
		<button type="submit" class="btn btn-block btn-primary">
			<span>Login</span>
		</button>
	</form>

</div>