<div class="jumbotron">
	<div class="text-center">
		<h2> {{ profile.user.name }} ({{ profile.user.username }}) </h2>
	</div>
</div>

<div ng-show="profile.posts" class="post-container">
		<div ng-repeat="p in profile.posts | orderBy: 'post.date':true" class="post">
			<div class="post-name">
				<a ng-href="/users/{{ p.author_id }}"> {{ p.author_name }} </a>
			</div>
			<div class="post-desc"> {{ p.description }} </div>
			<div><a ng-href="/posts/{{ p._id }}" class="date"> {{ p.date | date: 'medium' }} </a></div>
			<div class="post-interact">
				<a href="#" ng-click="profile.likePost(p._id); profile.incrementLikes(p)" class="approve">
					<span class="fa fa-hand-spock-o"></span> {{ p.likes }} Approve
				</a>
				
				<a ng-href="/posts/{{ p._id }}" class="comment-link">
					<span class="fa fa-comment-o"></span> Comment
				</a>
			</div>
			<div class="comment-container">
				<div ng-repeat="comment in p.comments | limitTo: 3" class="comment">
					<div>
						<a ng-href="/users/{{ comment.author_id }}" class="comment-name"> {{ comment.author_name }} </a> 
						
						<div class="comment-desc">{{ comment.description }}</div>
						<div class="comment-date"> {{ comment.date | date: 'medium' }} </div>
						<a href="#" ng-click="profile.likeComment(p._id, comment._id); profile.incrementCommentLikes(comment)" class="comment-approve approve"><span class="fa fa-hand-spock-o"></span> {{ comment.likes }} Approve</a>  
					</div>
						
				</div>
			</div>
			<hr>
		</div>
	</div>