
<div class="jumbotron">
	<h1>Welcome to the Anti-Social Network</h1>
	<h3 class="text-center">You may rant about anyone or anything you please.</h3>
	<div class="text-center">
		<a href="/login" class="btn btn-danger" ng-if="!main.loggedIn">Login</a>
		<a href="/register" class="btn btn-danger" ng-if="!main.loggedIn">Register</a>
	</div>
</div>

<div class="row col-sm-6 col-sm-offset-3 login-form" ng-if="!main.loggedIn">
	<h1>Register</h1>
	<form ng-submit="user.registerUser()">
		<!-- NAME INPUT -->
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Name" ng-model="user.userData.name">
		</div>
		<!-- USERNAME INPUT -->
		<div class="form-group">
			<input type="text" class="form-control" ng-model="user.userData.username" placeholder="Username">
		</div>
		<!-- PASSWORD INPUT -->
		<div class="form-group">
			<input type="password" class="form-control" ng-model="user.userData.password" placeholder="Password">
		</div>
		<!-- REGISTER BUTTON -->
		<button type="submit" class="btn btn-block btn-primary">
			<span>Register</span>
		</button>
	</form>
	<div ng-show="user.message" class="alert alert-info">
		{{ user.message }}
	</div>
	<div ng-show="user.message" class="text-center">
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

</div>